main {
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
}
main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  position: relative;
}
main .button {
  padding: 0.6rem 4rem;
  background-color: #0282F9;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
main .between {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  padding: 1rem 2rem;
  font-size: 1.7rem;
}
main .grid {
  display: grid;
  padding: 1rem 0;
  grid-template-columns: repeat(6, 1fr);
}
main .card {
  padding: 1rem;
  text-align: center;
  color: white;
}
main .card div {
  padding: 1rem;
  text-transform: uppercase;
}

.merch {
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.merch ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.merch img {
  width: 45px;
}
.merch a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: uppercase;
  color: white;
}

.merch_list {
  background-color: #0282F9;
}
.merch_list .container {
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.merch_list ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.merch_list img {
  width: 45px;
}
.merch_list a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: uppercase;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
header nav figure {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 150px;
}
header ul li {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  height: 100%;
}
header ul li:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: #0282F9;
}
header ul li:hover {
  color: #0282F9;
}
header .jumbotron {
  height: 500px;
  width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

footer .footer-list {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
footer .footer-list .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
}
footer .footer-list .container .main-list {
  display: flex;
  padding: 4rem 0;
  gap: 100px;
}
footer .footer-list .container h4 {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: white;
  padding: 1rem 0;
}
footer .footer-list .container li {
  line-height: 1.8rem;
  font-size: 1rem;
  color: #959595;
}
footer .footer-contacts {
  background-color: #303030;
  padding: 2.19rem;
}
footer .footer-contacts .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-contacts .sign-up-button {
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  border: 2px solid #0282F9;
}
footer .footer-contacts .footer-social-link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
footer .footer-contacts .footer-social-link h3 {
  color: #0282F9;
  text-transform: uppercase;
}

main .gallery {
  height: 100px;
  background-color: #0282F9;
  position: relative;
}
main .gallery .container {
  position: relative;
}
main .gallery .cover {
  position: absolute;
  bottom: 40px;
  left: 0;
  border: 1px solid white;
}
main .gallery .cover img {
  display: block;
}
main .comic {
  background-color: white;
}
main .comic .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
}
main .comic .row .col-8 {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .comic .row .col-4 {
  flex-basis: 20%;
}
main .comic .title {
  text-transform: uppercase;
  font-size: 30px;
}
main .comic .price_bar {
  display: flex;
  background-color: #55BA59;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
main .comic .price_bar .price_left {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  justify-content: space-between;
  font-weight: bold;
}
main .comic .price_bar .price_left .status {
  color: #BAFD91;
  text-transform: uppercase;
}
main .comic .price_bar .price_left .price {
  color: white;
}
main .comic .price_bar .price_right {
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
main .comic .price_bar .price_right input {
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
main .comic .adv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .comic .adv span {
  color: #555555;
  font-weight: bold;
  padding-bottom: 5px;
}
main .comic .description {
  color: #555555;
  line-height: 25px;
  font-weight: 500;
}
main .info {
  background-color: #F6F6F6;
  display: flex;
}
main .info .row {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

ul, ol, menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}